*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header{
    background-color: #212121;
    width: 100%;
    height: 100px;
    position: fixed;
    display: block;    
    overflow: none;
    z-index: 1;
}
.header-right{
    background-color: #0000;
    width: auto;
    padding-left: 223px;
}
.header-left{
    width: 85px;
    height: 55px;
    position: absolute;
    left: 40px;
    margin: auto;
    background: url('image/logo.svg') no-repeat;
    background-size: auto 40px;
    margin-top: 20px;
    background-position: center;
    background-color: #212121;
}
.header-top{
    width: 100%;
    height: 40px;
    background-color: #000000;
    padding: 0px 0px 0px 20px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}
.header-top a{
    text-decoration: none;
    color: aliceblue;
}
.header-top ul{
    display: inline-flex;
    text-align: center;
    list-style: none;
    margin-right: 15px;
}
.header-top ul li a{
    text-decoration: none;
    color: aliceblue;
}
.header-top ul li{
    padding-right: 30px;
}
.header-top ul li ul{
    display: block;
    width: 190px;
    position: absolute;
    padding: 1rem;
    line-height: 35px;
    display: none;
    text-align: left;
    font-weight: 400;
    background-color: white;
}
.header-top ul li:hover ul{
    display: block;
}
.login{
    background-color: rgb(240, 16, 16);
    border-radius: 25px;
    width: 140px;
    padding: 5px;
}
.header-bottom{
    background-color: #212121;
    display: flex;
    color: white;
    font-size: large;
    text-align: center;
    justify-content: space-between;
    height: 60px;
    padding-right: 30px;

}
.categories{
    width: 150px;
    line-height: 60px;
    position: relative;
    /* background-color: orange;     */
}
.categories:hover {
    background-color: white;
    color: black;
}

.drop{
    position: absolute;
    display: none;
    max-width: 200px;
    color: #000000;
    line-height: 25px;
}

.drop li{
    width: 200px;
    padding: 1rem;
    list-style: none;
    display: flex;
    background-color: white;
    
}

.categories:hover ul{
    display: block;
    background-color: white;
    color: black;
}

/* drop-2  start*/
/* .categories ul li:hover .drop2{
    display: inline;
}
.drop2{
    position: absolute;
    display: inline;
    line-height: 10px;
}
.detaildrop{
    position: absolute;
    display: none;
} */


/*.drop-2{
    display: none;
} */

/* drop-2  end*/

.brands{
    width: 150px;
    line-height: 60px;
    position: relative;
    margin-right: 10px;
}
.brands:hover {
    background-color: aliceblue;
    color: black;
}

.brands:hover ul{
    display: block;
    background-color: white;
    color: black;
}

.like{
    width: 100px;
    padding-top: 17px;
    background-color: #212121;
    color: white;
}

.shopping{
    width: 100px;
    padding-top: 17px;
    background-color: #212121;
    color: white;
    
}
.search{
    display: flex;
    height: 45px;
    width: 500px;
    padding-top: 10px;
    padding-bottom: -20px;
    border-radius: 30px;
}
.search-icon{
    color: #000000;
    padding-left: 10px;
    padding-top: 10px;
    background-color: #434343;
    /* font-weight: bolde; */
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.search input{
    border: none;
    width: 100%;
    padding-top: 5px;
    color: white;
    font-size: large;
    background-color: #434343;
    font-weight: bolde;
    padding-left: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.poster{
    margin-top: 100px;
    display: inline-block;
}
.product{
    width: 100%;
    display: flex;
    justify-content: center;
}
.product a img{
    margin-top: -4px;
    height: 105px;
}
.bank{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: -4px;
    background-color: rgb(242, 237, 237);
    height: auto;
}
.bank a img{
    border: 1px solid white;
    border-radius: 5px;
    margin-right: 10px;
}
.shipping{
    width: 100%;
    background-color: rgb(242, 237, 237);
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    padding-top: 40px;
}
.deels{
    width: 100%;
    background-color: rgb(242, 237, 237);
    display: flex;
    justify-content: center;
    padding-bottom: 40px;    
}
.deels img{
    height: 150px;
}
.item{
    width: 100%;
    display: flex;
    justify-content: center;   
    background-color: rgb(242, 237, 237);
}
.item a img{
    width: 235px;
    height: 320px;
    margin-left: 25px;
    transition: .5s;
}


.item a img:hover{
    transform: scale(1.05);
}
.trust{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: bold;
}
.one{
    width: 15%;
    line-height: 25px;
}
.one a{

    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 100;
    line-height: 25px;
}
.two{
    width: 40%;
    line-height: 25px;
}
.two a{
    
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 100;
    padding-right: 10px;
    padding-right: 10px;
    line-height: 25px;
}
.one p{
    font-size: 12px;
    font-weight: 300;
}
.Terms{
    padding: 20px;
}